<!-- <!DOCTYPE html>
<html>

<head>
    <title>Profile - Schudle</title>
    <%- include("./headers/forms.ejs") %>
    <link rel="stylesheet" href="/css/change-photo.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <%- include("./panels/professor-panel.ejs") %>

        <div class="d-flex flex-column" id="content-wrapper">
            <%- include("./headers/top-container.ejs") %>
            <%- include("./preloaders/dash-preload.ejs") %> 
            <div id="content" style="display: none;">
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">Profile</h3>
                    <div class="row mb-3">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col">
                                    <div class="card shadow mb-3">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 font-weight-bold">User Settings</p>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class=""><strong>Username</strong>
                                                        <h6 class="form-control">hii </p>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class=""><strong>Email Address</strong>
                                                        <p class="form-control">bye </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class=""><strong>First Name</strong>
                                                        <p class="form-control">cool </p>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class=""><strong>Last Name</strong>
                                                        <p class="form-control">fuck you</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <button class="btn btn-primary btn-sm" type="submit">
                                                    Reset Password
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <%- include("./footers/dashboard.ejs") %>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
                crossorigin="anonymous">
            </script>
            <%- include("./footers/dash-preload.ejs") %> 
</body>

</html> -->









<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view_submissions</title>
</head>
<body>
    <h1>Subbmission for <%=item.name%></h1>
    <%item.submissions.forEach(function(sub){ var subid= sub._id%>
        Name: <%=sub.fullname%>
        username: <%=sub.username%>
        Date: <%=sub.time.toLocaleDateString()%>
        time: <%=sub.time.toLocaleTimeString()%>
        <%if(sub.subType == "link"){%>
            <a href="<%=sub.link%>" target="_blank">View submission</a>
        <%}else{%>            
            <form action="/<%=school%>/download/<%= sub.name %>.<%= sub.extension %>/<%= sub.googleid %>" method="GET">
                <button type="submit">View Submission</button>
            </form>
        <%}%>

        <%if(sub.pointsobtained){%>
           <label> Awarded : <%=sub.pointsobtained%></label>
        <%} else{%>
            <label> Yet to be graded</label>
        <%}%>

        <form name="<%=sub._id%>" action="/<%=school%>/<%=courseid%>/<%=item._id%>/grade" method="POST">
            <input type="Number" name="points" min="0" max="<%=item.totalpoints%>">
            <button type="submit" name="subid" value="<%=sub._id%>">Grade</button>
        </form>
        <hr>
    <%})%>

    <form action="/<%=school%>/<%=courseid%>" method="GET">
        <button type="submit">Course Page</button>
    </form>

    <form action="/<%=school%>/<%=courseid%>/<%=item._id%>/generateAssignmentReport" method="POST">
        <input type="text" name="extension" value=".pdf" hidden>
        <input type="text" name="format" value="application/pdf" hidden>
        <button type="submit" name="assignment" value="<%=JSON.stringify(item)%>">Generate Assignment Report PDF</button>
    </form>
    <form action="/<%=school%>/<%=courseid%>/<%=item._id%>/generateAssignmentReport" method="POST">
        <input type="text" name="extension" value=".xlsx" hidden>
        <input type="text" name="format" value="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" hidden>
        <button type="submit" name="assignment" value="<%=JSON.stringify(item)%>">Generate Assignment Report XLSX</button>
    </form>
</body>
</html>